.products__container {
  display: grid;
  grid-template-columns: 45% 45%;
  margin-top: 5.5rem;
  margin-bottom: 8.5rem;
  justify-content: space-evenly;
}

.product__header01 {
  font-size: 2.8rem;
  font-family: "Gilroy-Bold";
  font-weight: normal;
  text-align: center;
}

.product__header02 {
  font-size: 3.18rem;
  font-family: "Rockness-Regular";
  font-weight: normal;
  color: var(--accent-color);
  text-align: center;
  margin-top: -48px;
}

@media only screen and (max-width: 1200px) {
  .product__header02 {
    // font-size: 3.28rem;
    margin-top: -38px;
  }
}

@media only screen and (max-width: 1024px) {
  .products__container {
    grid-template-columns: 80%;
    grid-template-rows: auto auto;
    row-gap: 4rem;
  }
}

@media only screen and (max-width: 576px) {
  .products__container {
    grid-template-columns: 90%;
  }
}

@media only screen and (max-width: 340px) {
  .products__container {
    grid-template-columns: 96%;
  }
}
